api:
  key: 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
  secret: 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
  debug: false
fiat: EUR
buy_underwater: false
markets:
  BTC:
    buy_underwater: true
    min: 95
    max: 105
    rateWindow: 20
    ema:
      interval: '1d'
      window: 200
      limit: 400
  ETH:
    buy_underwater: true
    min: 95
    max: 105
    rateWindow: 20
    ema:
      interval: '1d'
      window: 200
      limit: 400
  ADA:
    ema:
      interval: '1d'
      window: 200
      limit: 400
  DOT:
    ema:
      interval: '1d'
      window: 200
      limit: 400
  FTM:
    max: 55
    rateWindow: 20
    ema:
      interval: '1d'
      window: 200
      limit: 400
  LINK:
    max: 55
    rateWindow: 20
    ema:
      interval: '1d'
      window: 200
      limit: 400
  NAS:
    min: 35
    max: 55
    rateWindow: 8
    ema:
      interval: '1d'
      window: 200
      limit: 400
  NEO:
    max: 55
    rateWindow: 20
    ema:
      interval: '1d'
      window: 200
      limit: 400
  SOL:
    max: 55
    rateWindow: 10
    ema:
      interval: '1d'
      window: 200
      limit: 400
  VET:
    max: 55
    rateWindow: 20
    ema:
      interval: '1d'
      window: 200
      limit: 400
  ZRX:
    max: 55
    rateWindow: 20
    ema:
      interval: '1d'
      window: 200
      limit: 400
activeMode: true
debug: false
