api:
  key: 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
  secret: 1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
  debug: false
fiat: EUR
markets:
  BTC:
    ema:
      interval: '1d'
      window: 200
      limit: 400
  ETH:
    ema:
      interval: '1d'
      window: 200
      limit: 400
  ADA:
    ema:
      interval: '1d'
      window: 200
      limit: 400
  DOT:
    ema:
      interval: '1d'
      window: 200
      limit: 400
  FTM:
    min: 35
    max: 45
    ema:
      interval: '1d'
      window: 200
      limit: 400
  LINK:
    min: 35
    max: 45
    ema:
      interval: '1d'
      window: 200
      limit: 400
  NAS:
    min: 35
    max: 45
    ema:
      interval: '1d'
      window: 200
      limit: 400
  NEO:
    min: 35
    max: 45
    ema:
      interval: '1d'
      window: 200
      limit: 400
  SOL:
    min: 35
    max: 45
    ema:
      interval: '1d'
      window: 200
      limit: 400
  VET:
    min: 35
    max: 45
    ema:
      interval: '1d'
      window: 200
      limit: 400
  ZRX:
    min: 35
    max: 45
    ema:
      interval: '1d'
      window: 200
      limit: 400
activeMode: true
debug: true
